body{
	font-family: 'Lato', sans-serif;
	margin:0;
	padding:0;
	color:#fff;
}

.container{
	width:1120px;
	margin:0 auto;
}

.header{
	background-image: url("../icons/Bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}
.header-menu{
	display: flex;
	padding-top: 60px;
}

.icon-cloud{
	widows: 172px;
	height: 29px;
	margin-right: 161px;
	cursor: pointer;
}

.nav{
	padding-top: 8px;
	text-transform: uppercase;
	font-size: 14px;
	font-style: normal;	
	margin-right: 100px;
}
.nav a{
	margin-right: 17px;
	text-decoration: none;
	color:white;
	transition: 0.7s;
}

.nav a:hover{
	color:#514949;
}

.icon-flag{
	margin-right: 12px;
	margin-bottom: 10px;
}

.language{
	margin-top:8px;
	margin-right:12px;
	font-size: 14px;
}

.icon-arrow{
	margin-bottom: 5px;
	cursor: pointer;
}

.btn-login{
	margin-left: 29px;
	padding: 11px 28px 12px 29px;
	outline: none;
	color:white;
	font-size: 14px;
	background: none;
	margin-top: -7px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: 1s;
}

.btn-login:hover{
	color:#ffffff;
	background: #ffbf00;
}

.title{
	font-size: 72px;
	
	margin: 0;
	font-weight: bold;
	letter-spacing: 0.05em;
	display: inline-block;
	margin-left: 267px;
	margin-top:195px;
}


.title-text{
	margin-left: 310px;
	margin-top:62px;
}

.btn-sign{
	margin-top: 60px;
	margin-left: 474px;
	padding-bottom: 157px;
}

.btn-sign button{
	padding: 17px 53px 16px 52px;
	outline: none;
	color:#D52047;
	background: #FFFFFF;
	font-size: 14px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    transition: 1s;
}

.btn-sign button:hover{
	background: #ffbf00;
	border:solid #ffbf00 1px;
	color:white;
}